body {
    font-family: "open sans" sans-serif;
}


nav {
    background-color: #4380b1;
}

nav ul li:hover {
    text-decoration: underline;
    border-radius: 10px;
}

.jumbotron {
    padding-top: 100px;
    background:linear-gradient(#3071e7, #ffffff);
}

#project {
    background-color: #a2d9ff;
}

footer {
    background-color: #0d6efd;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4rem;
    height: 30px;
    word-spacing: 2px;
}

footer a {
    text-decoration: none;
}

section {
    padding-top: 100px;
}